<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewobjects</title>
</head>
<body>
    <h1>тест работы</h1>

    <table class="table table-hover">
        {% for row in data %}
            {% if loop.index == 1 %}
            <thead class="table-success">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-center">Extension</th>
                <th scope="col" class="text-center">Type</th>
                <!-- <th scope="col" class="text-center">Path</th> -->
                <th scope="col" class="text-center">Parent</th>
                <!-- <th>Pathlist</th>
                <th>Childs</th> -->
            </thead>
            <tbody>
            {% endif %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td class="text-center" align="center">{{ row.extension if row.extension else '' }}</td>
                    <td>{{ row.type if row.type else '' }}</td>
                    <!-- <td>{{ row.path }}</td> -->
                    <td align="center">{{ row.parent_id }}</td>
                    <!-- <td>{{ row.pathlist }}</td>
                    <td>{{ row.childs }}</td> -->
                </tr>
            
            {% if loop.last %}
            </tbody>
            {% endif %}

        {% endfor %}
    </table>
</body>
</html>